.loginSession {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .6rem 1rem;
  border-radius: .3rem;
  cursor: pointer;
  background-color: var(--primary3);
  border: none;
  color: var(--secondary1);
}

.loginTitle {
  font-size: 1.2rem;
  line-height: 1;
}