.modalContainer {
  background-color: rgba(0,0,0, .3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: var(--primary1);
  border: 1px solid var(--primary2);
  width: 25rem;
  min-height: 10rem;
  border-radius: var(--borderRadius);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0 0 2rem rgba(0,0,0, .5);
}

.modalTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalTitle {
  font-size: 1.8rem;
  font-weight: normal;
}

.modalClose {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: .5rem;
  display: flex;
}

.modalClose:hover {
  background-color: var(--gray);
}

.modalToggle {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

.modalToggleButton {
  background-color: transparent;
  color: var(--secondary1);
  border: 1px solid var(--secondary1);
  cursor: pointer;
  padding: .5rem;
  flex: 1;
  font-size: 1.2rem;
  border-radius: 10rem;
}

.modalToggleButtonActive {
  background-color: var(--blue2);
  color: var(--secondary1);
  border-color: var(--blue2);
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modalLabel {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.modalInput {
  height: 2.5rem;
  padding: 1rem;
  border-radius: var(--borderRadius);
  border: none;
  background-color: var(--primary2);
  color: var(--secondary1);
  font-size: 1rem;
}

.addButton {
  height: 3rem;
  margin-top: 1rem;
  border-radius: var(--borderRadius);
  border: none;
  font-size: 1.2rem;
  padding: .5rem 2rem;
  align-self: flex-end;
  cursor: pointer;
  background-color: #0B6623;
  color: var(--secondary1);
}