.homeTop {
  display: flex;
  align-self: flex-start;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.homeTopTitle {
  font-size: 1.8rem;
  color: var(--secondary2);
  font-weight: 500;
}
